VLLM_BIND_HOST={{ ct_runtime_vllm_bind_host }}
VLLM_PORT={{ ct_runtime_vllm_port }}
VLLM_MODEL={{ ct_runtime_vllm_model }}
VLLM_TENSOR_PARALLEL_SIZE={{ ct_runtime_vllm_tensor_parallel_size }}
VLLM_MAX_MODEL_LEN={{ ct_runtime_vllm_max_model_len }}
VLLM_GPU_MEMORY_UTILIZATION={{ ct_runtime_vllm_gpu_memory_utilization }}
VLLM_EXTRA_ARGS={{ ct_runtime_vllm_extra_args }}
