INFER_VLLM_BIND_HOST={{ ct_runtime_vllm_bind_host }}
INFER_VLLM_PORT={{ ct_runtime_vllm_port }}
INFER_VLLM_MODEL={{ ct_runtime_vllm_model }}
INFER_VLLM_SERVED_MODEL_NAME={{ ct_runtime_vllm_served_model_name_effective | default('') }}
INFER_VLLM_TENSOR_PARALLEL_SIZE={{ ct_runtime_vllm_tensor_parallel_size }}
INFER_VLLM_PIPELINE_PARALLEL_SIZE={{ ct_runtime_vllm_pipeline_parallel_size }}
INFER_VLLM_GPU_MEMORY_UTILIZATION={{ ct_runtime_vllm_gpu_memory_utilization }}
INFER_VLLM_DTYPE={{ ct_runtime_vllm_dtype }}
INFER_VLLM_KV_CACHE_DTYPE={{ ct_runtime_vllm_kv_cache_dtype }}
INFER_VLLM_MAX_MODEL_LEN={{ ct_runtime_vllm_max_model_len }}
INFER_VLLM_MAX_NUM_SEQS={{ ct_runtime_vllm_max_num_seqs }}
INFER_VLLM_MAX_NUM_BATCHED_TOKENS={{ ct_runtime_vllm_max_num_batched_tokens }}
INFER_VLLM_TOOL_CALL_PARSER={{ ct_runtime_vllm_tool_call_parser }}
INFER_VLLM_REASONING_PARSER={{ ct_runtime_vllm_reasoning_parser }}
INFER_VLLM_EXTRA_ARGS={{ ct_runtime_vllm_extra_args }}
NCCL_P2P_DISABLE={{ ct_runtime_vllm_nccl_p2p_disable }}
NCCL_IB_DISABLE={{ ct_runtime_vllm_nccl_ib_disable }}
NCCL_P2P_LEVEL={{ ct_runtime_vllm_nccl_p2p_level }}
NCCL_DEBUG={{ ct_runtime_vllm_nccl_debug }}
NCCL_IGNORE_DISABLED_P2P={{ ct_runtime_vllm_nccl_ignore_disabled_p2p }}
LD_LIBRARY_PATH={{ ct_runtime_vllm_ld_library_path }}
{% if ct_runtime_vllm_hf_cache_dir | length > 0 %}
HF_HOME={{ ct_runtime_vllm_hf_cache_dir }}
HUGGINGFACE_HUB_CACHE={{ ct_runtime_vllm_hf_cache_dir }}
{% endif %}
{% if ct_runtime_vllm_omp_num_threads | string | length > 0 %}
OMP_NUM_THREADS={{ ct_runtime_vllm_omp_num_threads }}
{% endif %}
INFER_VLLM_DEVICE={{ ct_runtime_vllm_device }}
INFER_VLLM_LOGGING_LEVEL={{ ct_runtime_vllm_logging_level }}
