TGI_BIND_HOST={{ ct_runtime_tgi_bind_host }}
TGI_PORT={{ ct_runtime_tgi_port }}
TGI_MODEL={{ ct_runtime_tgi_model }}
TGI_DTYPE={{ ct_runtime_tgi_dtype }}
TGI_MAX_INPUT_LENGTH={{ ct_runtime_tgi_max_input_length }}
TGI_MAX_TOTAL_TOKENS={{ ct_runtime_tgi_max_total_tokens }}
TGI_MAX_CONCURRENT_REQUESTS={{ ct_runtime_tgi_max_concurrent_requests }}
TGI_EXTRA_ARGS={{ ct_runtime_tgi_extra_args }}
