SGLANG_BIND_HOST={{ ct_runtime_sglang_bind_host }}
SGLANG_PORT={{ ct_runtime_sglang_port }}
SGLANG_MODEL={{ ct_runtime_sglang_model }}
SGLANG_TENSOR_PARALLEL_SIZE={{ ct_runtime_sglang_tensor_parallel_size }}
SGLANG_CONTEXT_LENGTH={{ ct_runtime_sglang_context_length }}
SGLANG_DTYPE={{ ct_runtime_sglang_dtype }}
SGLANG_EXTRA_ARGS={{ ct_runtime_sglang_extra_args }}
